#generetPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 20%;
  background: rgb(45 45 51 / 65%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(10, 14, 49, 0.49);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#passwordPlece {
  font-size: 130%;
  width: 50%;
  max-height: 70%;
  background: rgb(29 57 121 / 43%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(54, 54, 54, 0.49);
  margin-left: 20px;
}

#passwordPlece p {
  margin-left: 10px;
}

#generetPassword button {
  width: 20%;
  height: 35%;
  border-radius: 5px;
  color: white;
  margin-right: 60px;
  font-size: 140%;
  border: none;
  background: rgb(29 57 121 / 43%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(54, 54, 54, 0.49);
}

#generetPassword button:hover {
  background-color: #242424;
}
